  {% extends "layout.html" %}

  {% block content %}

  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');">
    <img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt="">
  </header>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>We are in the Universe!!!</h1>
      <p class="lead">We will serve you highly skilled Auditing, Accounting, Tax Service for your business</p>
      <p>auditing members, linked legal service firm</p>
    </div>
  </section>

  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
  </section>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>Local Tax Service</h1>
      <p class="lead">Business Firm Tax, Income Tax, Capital gain tax</p>
      <p>국내 법인세, 소득세, 재산제세 등 장부기장, 조세불복 서비스 제공</p>
    </div>
  </section>
  {% endblock %}
